@{
    Layout = null;
}

<!DOCTYPE html>
<head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    </head>
    <body ng-app>
        Hello {{1+1}} the World!
    </body>
</html>